select {
    width: 216px;
    height: 38px;
    cursor: pointer;
    background-color: #ffffff;
    border: 1px solid #CED4DA;
}

input {
    width: 452px;
    height: 38px;
    cursor: pointer;
    border: 1px solid #CED4DA;
    padding-left: 5px;
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.container__input {
display: flex;
flex-direction: column;
align-items: flex-start;
color: #818182;
}


@media (max-width: 400px) {
    .container {
        max-width: 320px;
    }

    select {
        width: 320px;
        height: 38px;
    }
    
    input {
        width: 320px;
        height: 38px;
    }
    .input__wrapper {
       flex-direction: column;
       row-gap: 19px;
    }

}
